.navbar.light{
    color: #000;
    background-color: white;
    border-color: lightgray;
}
.navbar.dark{
    color: whitesmoke !important; 
    background-color: #222;
    border-color: #444;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 999;
  }
  
  .navbar .left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .navbar .left span {
    font-weight: bold;
    font-size: 20px;
  }
  .navbar.dark .left span {
    color: white;
  }
  .navbar.dark .left .search{
    border-color: #444;
  }
  .navbar .left .search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
  }
  
  .navbar .left .search input {
    border: none;
    width: 500px;
    background-color: transparent;
    color: #555;
  }
  
  @media only screen and (max-width: 480px) {
    .navbar .left .search input {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .left .search input {
      width: 200px;
    }
  }
  
  .navbar .right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  @media only screen and (max-width: 767px) {
    .navbar .right {
      display: none;
    }
  }
  
  .navbar .right .user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .right .user {
      display: none;
    }
  }
  
  .navbar .right .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  